.ipynb_checkpoints/*
.mypy.cache/*
.venv/*
build/*
data/*
encrypt/*
march_report/*
march_report.zip
.readmes/
trash/*
spark-warehouse/*
.tmp_spark_spills/*
z_volume/*

lab


data.zip

new_this.ipynb
enricher_ntbk_decrypted.ipynb
# usage_guide_ntbk.ipynb


mypy.ini